body{
	background: #B3B3B3
	font-size: 150%;
	margin: 4%; 
}

h1 {
	background-color: #B3B3B3;
	font-size: 150%;
}

header{
	background: #666666;
	text-align: center;
	padding: 15px; 
}


h1 {
	color: #FFFFFF;
}

nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", serif;
}

nav a{
	width: 22%;
	display: inline-block; 
	background-color: #FFFFFF;
}

a:hover{
	background: #B3B3B3;
	color: #0006CC;
}
a:focus{
	background: #B3B3B3;
	color: #0006CC;
}
a:active{
	border: 3px solid #000000;
}

h2{
	color: #666666;
	background: #00B7EA;
}

details{
	font-style: italic;
}

summary{
	font-style: normal;
}

footer{
	background-color: #666666;
	clear: both;
}

img{
	width: 125px;
}

.half{
	width: 45%;
	display: inline-block;
	margin-right: 2%;
	float: left;
}

.whole{
	clear: both;
}
